<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ceaautomotriz.CeaAutomotrizEcatepec"
      android:versionCode="2"
      android:versionName="1.1.0">
	  <uses-sdk  
     android:minSdkVersion="18"  
     android:targetSdkVersion="26"
	 android: debuggable="true"	 /> 


</manifest>
